---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import OurMission from '../components/landing/ourMission';
import Navbar from '../components/navbar';
import SignInInvitation from '../components/landing/signInInvitation';
import IntroductionBanner from '../components/landing/introductionBannerLarge';
import Footer from '../components/footer'

import backgroundImage from '../../public/background.jpg'
---

<Layout title="Landing Page">
	<main>
    <Navbar />
    <IntroductionBanner 
      title={"FreeFund"}
      pageHeaderMinVh="100vh"
    />
    <div class="container my-5">
      <div class="mt-5 mb-10">
        <SignInInvitation 
          pageHeaderBgImg={backgroundImage} 
          pageHeaderMinVh="100vh"
        />
      </div>
    <div id="ourmission" class="my-5">
      <OurMission
        title={"Our mission"}
        full_description={""}
      />
    </div>

    </div>
    <Footer/>
  </main>

</Layout>